<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MyBoard - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Loft Consulting Dashboard</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto d-none">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects-grid-cards.html">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="cv.html">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="hire-me.html">Hire me</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <main class="page lanidng-page">
    <div class="float-left">
            <form method="post" action="">
                {% csrf_token %}

            <select id="year" name="year" style="width:100%">

            {% for year_for_select in possible_years %}
                {{ year_for_select }} {{ year }}
                <option value={{ year_for_select }} {% if year_for_select == year %} selected {% endif %}>{{ year_for_select }}</option>
            {% endfor %}
            </select>

                <select id="month" name = "month" multiple="multiple" style="width:100%" size="12">
                  <option value="1" {% if "1" in month %} selected {% endif %}>January</option>
                  <option value="2" {% if "2" in month %} selected {% endif %}>February</option>
                  <option value="3" {% if "3" in month %} selected {% endif %}>March</option>
                  <option value="4" {% if "4" in month %} selected {% endif %}>April</option>
                  <option value="5" {% if "5" in month %} selected {% endif %}>May</option>
                  <option value="6" {% if "6" in month %} selected {% endif %}>June</option>
                  <option value="7" {% if "7" in month %} selected {% endif %}>July</option>
                  <option value="8" {% if "8" in month %} selected {% endif %}>August</option>
                  <option value="9" {% if "9" in month %} selected {% endif %}>September</option>
                  <option value="10" {% if "10" in month %} selected {% endif %}>October</option>
                  <option value="11" {% if "11" in month %} selected {% endif %}>November</option>
                  <option value="12" {% if "12" in month %} selected {% endif %}>December</option>
                </select>
                <input type="submit" value="Update" style="width:100%" />
            </form>
    </div>
        <div class="container">
                {% for field in extra %}
        {{ field }}
    {% endfor %}




            <h1>Time {{ year }} {{ views.year }} {{ views.month }}</h1>

            <div class="row">
                <div class="col-md-3">
                    <h5 class="text-center">Total Time Available</h5>
                    <h1 class="text-center">{{ available_hours }} hrs</h1>
                </div>
                <div class="col-md-3">
                    <h5 class="text-center">Billable Hours</h5>
                    <h1 class="text-center">{{ billable_hours }} hrs</h1>
                </div>
                <div class="col-md-3">
                    <h5 class="text-center">Bid Hours</h5>
                    <h1 class="text-center">{{ bid_hours }} hrs</h1>
                </div>
                <div class="col">
                    <h5 class="text-center">Hours Gap</h5>
                    <h1 class="text-center">80 hrs</h1>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <hr>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Revenue</h1>
            <div class="row">
                <div class="col-md-3 text-center">
                    <h5>Billable Revenue</h5>
                    <h1 class="text-center">$10,000</h1>
                </div>
                <div class="col-md-3">
                    <h5 class="text-center">Bid (Planned Revenue)</h5>
                    <h1 class="text-center">${{ billable_revenue  }}<br></h1>
                </div>
                <div class="col-md-3">
                    <h5>-</h5>
                </div>
                <div class="col">
                    <h5 class="text-center">Projected Revenue</h5>
                    <h1 class="text-center">${{ bid_revenue }}<br></h1>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <hr>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Income</h1>
            <div class="row">
                <div class="col-md-3">
                    <h5 class="text-center">Firm Hours</h5>
                    <h1 class="text-center">${{ firm_hours }}<br></h1>
                </div>
                <div class="col-md-3">
                    <h5 class="text-center">Outsourced Hours</h5>
                    <h1 class="text-center">${{ outsourced_hours }}<br></h1>
                </div>
                <div class="col-md-3">
                    <h5>-</h5>
                </div>
                <div class="col">
                    <h5 class="text-center">Net Income</h5>
                    <h1 class="text-center">$8,000<br></h1>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <hr>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container"></div>
    </footer>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>